﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.Master" AutoEventWireup="true" CodeBehind="CompaniesPage.aspx.cs" Inherits="GUI.CompaniesPage" %>

<asp:Content ID="Content1" ContentPlaceHolderID="body" runat="server">
    <h1 class="letterpress" style="text-align: center">Companies Page</h1>
</asp:Content>
