﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.Master" AutoEventWireup="true" CodeBehind="EventsPage.aspx.cs" Inherits="GUI.EventsPage" %>

<asp:Content ID="Content1" ContentPlaceHolderID="body" runat="server">
    <h1 class="letterpress" style="text-align: center">Events Page</h1>
</asp:Content>
