﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.Master" AutoEventWireup="true" CodeBehind="StaffPage.aspx.cs" Inherits="GUI.StaffPage" %>

<asp:Content ID="Content1" ContentPlaceHolderID="body" runat="server">
    <h1 class="letterpress" style="text-align: center">Staff Page</h1>
</asp:Content>
