﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.Master" AutoEventWireup="true" CodeBehind="StudentsPage.aspx.cs" Inherits="GUI.StudentsPage" %>

<asp:Content ID="Content1" ContentPlaceHolderID="body" runat="server">
    <div id="listStudentsDIV">  
    </div>
</asp:Content>
