﻿<%@ Page Language="C#" Title="Inscrire une connexion externe" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="RegisterExternalLogin.aspx.cs" Inherits="GUI.Account.RegisterExternalLogin" %>
<asp:Content ContentPlaceHolderID="MainContent" runat="server">
    <hgroup class="title">
        <h1>Inscrivez-vous avec votre compte <%: ProviderDisplayName %></h1>
        <h2><%: ProviderUserName %>.</h2>
    </hgroup>

    
    <asp:ModelErrorMessage runat="server" ModelStateKey="Provider" CssClass="field-validation-error" />
    

    <asp:PlaceHolder runat="server" ID="userNameForm">
        <fieldset>
            <legend>Formulaire d'association</legend>
            <p>
                Vous vous êtes authentifié avec <strong><%: ProviderDisplayName %></strong> en tant que
                <strong><%: ProviderUserName %></strong>. Veuillez entrer ci-dessous un nom d'utilisateur pour le site actuel
                et cliquer sur le bouton Se connecter.
            </p>
            <ol>
                <li class="email">
                    <asp:Label runat="server" AssociatedControlID="userName">Nom d'utilisateur</asp:Label>
                    <asp:TextBox runat="server" ID="userName" />
                    <asp:RequiredFieldValidator runat="server" ControlToValidate="userName"
                        Display="Dynamic" ErrorMessage="Le nom d'utilisateur est requis" ValidationGroup="NewUser" />
                    
                    <asp:ModelErrorMessage runat="server" ModelStateKey="UserName" CssClass="field-validation-error" />
                    
                </li>
            </ol>
            <asp:Button runat="server" Text="Se connecter" ValidationGroup="NewUser" OnClick="logIn_Click" />
            <asp:Button runat="server" Text="Annuler" CausesValidation="false" OnClick="cancel_Click" />
        </fieldset>
    </asp:PlaceHolder>
</asp:Content>
